{% extends "layout.html" %}

{% block title %}
    Adicionar produto
{% endblock %}

{% block main %}
    <h1>Adicionar produto</h1>
    <form action="{% url 'add_produto' %}" method="post">
        {% csrf_token %}
        <label for="foto1">Fotos</label>
        <input type="file" id="foto1" name="foto1">
        <br>
        <label for="nome_produto">Nome do produto</label>
        <input type="text" name="nome_produto" id="nome_produto">
        <br>
        <label for="descricao">Descrição</label>
        <input type="text" name="descricao" id="descricao">
        <br>
        <label for="preco">Preço</label>
        <input type="text" name="preco" id="preco">
        <br>
        <label for="qntd">Quantidade</label>
        <input type="text" name="qntd" id="qntd">
        <br>
        <label for="categoria">Categoria</label>
        <select id="categoria" name="select">
            {% for categoria in categorias %}
                <option value="{{ categoria }}">{{ categoria }}</option>
            {% endfor %}
        </select>
        
        <br><br>
        {{ error_message }}
        <br><br>
        <button type="submit">Anunciar produto</button>
    </form>
{% endblock %}
