{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block main %}
    <div class="align-items-left">
        <div class="text-align" style="align-items: center;">
            <form action="" method="POST" class="form-denuncia">
                {% csrf_token %}
            <input type="radio" name="motivo" value="Produto não entregue ou não conforme"/> Produto não entregue ou não conforme <br>
            <input type="radio" name="motivo" value="Vendedor fraudulento ou não confiável" /> Vendedor fraudulento ou não confiável <br>
            <input type="radio" name="motivo" value="Comportamento inadequado do vendedor" /> Comportamento inadequado do vendedor <br>
            <input type="radio" name="motivo" value="Outro" /> Outro <br>
            <input type="text" class="form-control" name="detalhes"> </input> <br>
            <button type="submit" class="btn btn-danger"> Enviar denuncia </button>
        </form>
    </div>
</div>
</body>
</html>
{% endblock %}