{% extends "layout.html" %}

{% block title %} Lista de desejos {% endblock %}

{% block main %}

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<style>
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .corpo {
    margin-top: 2vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {

    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 10px;

  }

  .form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
  }

  .form-image img {
    width: 31rem;
  }

  .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
  }

  .form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
  }

  .form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ff7420;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
  }

  .input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
  }

  .input-box input:hover {
    background-color: #eeeeee75;
  }

.input-box input:focus-visible {
    outline: 1px solid #ff7420;
  }

  .input-box label,
  .Transportadora-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
  }

  .input-box input::placeholder {
    color: #000000be;
  }

  .Transportadora-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
  }

  .Transportadora-input {
    display: flex;
    align-items: center;
  }

  .Transportadora-input input {
    margin-right: 0.35rem;
  }

  .Transportadora-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
  }

  .continue-button button {
    width: 100%;
    height: 45px;
    background-color: #ff7420;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 010px rgba(0, 0, 0, .1);
    cursor: #333;
    font-weight: 600;
    margin-top: 15px;
  }

  .continue-button button:hover {
    background-color: #cf5c17;
  }

  .continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
  }

  @media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
  }

  @media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .Transportadora-inputs {
        margin-top: 2rem;
    }
    .Transportadora-group {
        flex-direction: column;
    }
    .Transportadora-title h6 {
        margin: 0;
    }
    .Transportadora-input {
        margin-top: 0.5rem;
    }
  }

  .erros {
    font-size: medium;
    color: red;
  }

</style>

<div class="corpo">
  <div class="container">
      <div class="form-image">
          <img src="https://i.imgur.com/svquz0h.png" alt="Kolekto">
      </div>
      <div class="form">
          <form
            action="#"
            method="POST"
            enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-header">
                  <div class="title">
                      <h1>Cadastro de Loja</h1>
                  </div>
              </div>

              <div class="input-group">
                  <div class="input-box">
                      <label for="nome_vendedor">Nome <i class='bx bx-edit-alt'></i></label>
                      <input id="nome_vendedor" type="text" name="nome_vendedor" placeholder="{{ nome_vendedor }}" value="{{ nome_vendedor }}" disabled>
                      </fieldset>
                  </div>

                  <div class="input-box">
                    <label for="perfil">Imagem de perfil <i class='bx bxs-camera' ></i></label>
                    <input id="perfil" type="text" name="perfil" aria-describedby="perfil_" placeholder="Foto" value="{{ perfil }}" required>
                  </div>

                  <div class="input-box">
                    <label for="Cidade">Data de nascimento <i class='bx bx-calendar' ></i></i></label>
                    <input id="nascimento" type="date" name="nascimento" value="{{ data_nascimento }}" required>
                  </div>

                  <div class="input-box">
                    <label for="date">CPF <i class='bx bx-id-card'></i></label>
                    <input id="cpf" type="text" name="cpf" placeholder="Ex: 999.999.999-99" value="{{ cpf }}" required>
                  </div>

                  <div class="input-box">
                    <label for="nome_loja">Nome da Loja <i class='bx bx-store-alt' ></i></label>
                    <input id="nome_loja" type="text" name="nome_loja" placeholder="Nome da sua Loja" value="{{ nome_loja }}" required>
                  </div>

                  <div class="input-box">
                    <label for="descricao">Descrição da loja <i class='bx bx-rename' ></i></label>
                    <input id="descricao" type="text" name="descricao" placeholder="Descrição da loja" value="{{ descrito }}" required>
                  </div>

                  <div class="input-box">
                    <label for="Rua/Avenida">Digite sua cidade <i class='bx bx-map-pin' ></i></label>
                    <input id="Rua/Avenida" type="text" name="cidade" placeholder="Sua Cidade" value="{{ cidade }}" required>
                  </div>

                  <div class="input-box">
                      <label for="CPF">Seu estado <i class='bx bx-map' ></i></label>
                      <select
                        class="form-select form-select-lg mb-3 pb-0"
                        name="estado"
                      >
                        {% if cidade %}
                        <option value="">Escolha seu estado novamente</option>
                        {% endif %}
                        <option value="ac">AC</option>
                        <option value="al">AL</option>
                        <option value="ap">AP</option>
                        <option value="am">AM</option>
                        <option value="ba">BA</option>
                        <option value="ce">CE</option>
                        <option value="es">ES</option>
                        <option value="go">GO</option>
                        <option value="ma">MA</option>
                        <option value="mt">MT</option>
                        <option value="ms">MS</option>
                        <option value="mg">MG</option>
                        <option value="pb">PB</option>
                        <option value="pr">PR</option>
                        <option value="pe">PE</option>
                        <option value="pi">PI</option>
                        <option value="rj">RJ</option>
                        <option value="rn">RN</option>
                        <option value="rs">RS</option>
                        <option value="ro">RO</option>
                        <option value="rr">RR</option>
                        <option value="sc">SC</option>
                        <option value="sp">SP</option>
                        <option value="se">SE</option>
                        <option value="to">TO</option>
                        <option value="df">DF</option>
                      </select>
                  </div>

              </div>

              <p id="erros">{{ erros.nomedaloja }} {{ erros.urlerrado }} {{ erros.cpferrado }}</p>

              <div class="continue-button">
                <button type="submit"><a>Criar</a></button>
              </div>
          </form>
      </div>
  </div>
</div>

{% endblock %}