{% extends "layout.html" %}

{% block title %} Lista de desejos {% endblock %}

{% block main %}

<style>

  a {
    text-decoration: none;
    color: black;
  }

  #wish-container table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  #wish-container table td h5{
    font-weight: bold;
  }

  #wish-container table td {
    padding: 8px;
    text-align: center;
  }

  #wish-container table tbody img {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }

  h1.text-start {
    margin-left: 200px;
  }

  #wish-container {
    margin-top: 20px;
  }

  #removerlistadesejo {
    background-color: #ff7420;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }

  #removerlistadesejo:hover {
    background-color: #cc0000;
  }

</style>

<div class="container-fluid py-5 text-center">
<h1 class="text-start" style="margin-left: 200px;">Minhas compras:</h1>


<section id="wish-container" class="container my-5">
  {% for compra in compras %}
  <table width="100%">
    <thead><tr><td>{{ compra.loja }}</td></tr></thead>
  {% for item  in compra.produtos %}
          <tbody>
            <tr>
              <td style="margin-left: 40px; display: flex; align-items: center;">
                <img src="{{ item.produto.foto1 }}" alt="{{ item.produto.nome_item }}"></a>
                <div style="margin-left: 20px; text-align: left;">
                  <h5 style="font-size: 26px; margin: 0;">{{ item.produto.nome_produto }}</h5></a>
                  <p>{{ item.produto.loja }}</p></a>
                  <h5 style="font-size: 24px;" class='preco'>R${{ item.produto.preco }}</h5></a>
                  <p >{{ item.produto.categoria }}</p></a>
                </div>
              </td>
            </tr>
          {% empty %}
          <h4>Nada por aqui :/</h4>
        </tbody>
      </table>
      {% endfor %}
    {% endfor %}
      </section>
    </div>

<script>
  async function rem_lista_desejo(produtoId){
    const produto = document.getElementById("removerlistadesejo")
    const request = await fetch("/rem_lista_desejos", {
      method:"POST",
      body:JSON.stringify({produtoId}),
      headers:{
        "X-CSRFToken":"{{ csrf_token }}"
      }
    })
    const response = await request.json()
    location.reload();
  }
</script>

{% endblock %}