{% extends "layout.html" %} {% block title %} Pagina inicial {% endblock %} 
{% block main %} 
{% if erro %}
<div class="alert alert-primary" role="alert">{{ erro }}</div>
{% endif %}

<div class="produtos">
  {% for produto in produtos %}
  <div class="card" style="width: 18rem">
    <img
      width="300"
      height="300"
      src="{{ produto.foto1 }}"
      class="card-img-top"
      alt="{{ produto.nome_produto }}"
    />
    <div class="card-body d-flex justify-content-between flex-column" name="{{produto.nome_produto}}">
      <h5 class="card-title text-start">{{ produto.nome_produto }}</h5>
      <p class="card-text text-start" style="height: 100px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">{{ produto.descricao }}</p>
      <p class="card-text text-start" style="font-weight: bold; font-size:28px;">R${{ produto.preco }}</p>
      <a href="{% url 'pagina_produto' produto.id %}" class="btn btn-primary" name="{{ produto.id }}"
        >Detalhes</a>
    </div>
  </div>
  {% empty %}
  <h1>Nenhum produto disponível.</h1>
  {% endfor %}
</div>

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %} 
{% endblock %}
