{% extends "layout.html" %}

{% block title %}
    Pagina inicial
{% endblock %}

{% block main %}

{% if erro %}
<div class="alert alert-primary" role="alert">
  {{ erro }}
</div>
{% endif %}
<div class="pesquisar">
  <div class="flex space-x-1 pl-0 sm:pl-2 mt-3 sm:mt-0" style="width: 500px;">
      <form action="{% url 'pesquisa' %}" method="get">
        <div class="input-group">
          <select class="form-select" id="categorias" name="select">
            {% for categoria in categorias %}
            <option value="{{ categoria }}">{{ categoria }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-primary" type="submit">Button</button>
        </div>
      </form>
  </div>
</div>

<div class = "produtos">
    {% for produto in produtos %}
        <div class="card" style="width: 18rem;">
          <img src="{{ produto.foto1 }}" class="img-thumbnail" alt="{{ produto.nome_produto }}">
          <div class="card-body">
            <h5 class="card-title">{{ produto.nome_produto }}</h5>
            <p class="card-text">{{ produto.descricao }}</p>
            <p class="card-text">Preço: ${{ produto.preco }}</p>
            <a href="{% url 'pagina_produto' produto.id %}" class="btn btn-primary">Detalhes</a>
          </div>
        </div>
    {% empty %}
        <h1>Nenhum produto disponível.</h1>
    {% endfor %}
</div>

{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
{% endblock %}