<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://imgur.com/9RIzwc3.png"
    />

    <title>Kolekto: {% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link href="/static/styles.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <nav class="navbar navbar-expand-lg" style="background-color: #dcdcdc">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"
          >
          <img src="https://imgur.com/68YglrX.png" width="175" height="40"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav d-flex mx-auto justify-content-center categories-menu">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Categorias
              </a>
                <ul class="dropdown-menu" id="categoria-dropdown">
                <li>
                  <a class="dropdown-item" href="/pesquisa?select=Móveis+e+Decoração">Móveis e Decoração</a>
                </li>
                <li><a class="dropdown-item" href="/pesquisa?select=Arte">Arte</a></li>
                <li><a class="dropdown-item" href="/pesquisa?select=Joalheria">Joalheria</a></li>
                <li><a class="dropdown-item" href="/pesquisa?select=Livros">Livros</a></li>
                <li><a class="dropdown-item" href="/pesquisa?select=Relógios">Relógios</a></li>
                <li><a class="dropdown-item" href="/pesquisa?select=Cartas">Cartas</a></li>
                <li>
                  <a class="dropdown-item" href="/pesquisa?select=Brinquedos+e+Jogos">Brinquedos e Jogos</a>
                </li>
                <li><a class="dropdown-item" href="/pesquisa?select=Vestuário">Vestuário</a></li>
                <li><a class="dropdown-item" href="/pesquisa?select=Fotografia">Fotografia</a></li>
                <li>
                  <a class="dropdown-item" href="/pesquisa?select=Instrumento+Musical">Instrumento Musical</a>
                </li>
                <li><a class="dropdown-item" href="/pesquisa?select=Outro">Outro</a></li>
              </ul>
            </li>

          <form
            class="d-flex mx-auto justify-content-center"
            role="search"
            action="{% url 'pesquisa' %}"
          >
            <input
              class="form-control me-2"
              style="width: 700px;"
              type="search"
              id="nome_pesquisado"
              name="nome_pesquisado"
              placeholder="Pesquise por produtos, categorias ou lojas"
              value="{{ nome_pesquisado }}"
            />
            <button class="btn btn-secondary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </ul>
        </div>
          <ul class="navbar-nav ms-auto">
            {% if temloja %}
            <li class="nav-item">
              <a class="nav-link" href="/minha_loja" name="MLoja"><i class="fa-solid fa-shop"></i>  Minha Loja</a>
            </li>
            {% endif %} {% if user.is_authenticated and not temloja %}
            <li class="nav-item">
              <a class="nav-link" href="/nova_loja"><i class="fa-solid fa-shop"></i>  Criar loja</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'carrinho' %}"><i class="fa-solid fa-cart-shopping"></i>  Carrinho</a>
            </li>
            {% if user.is_authenticated  and temloja%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }} 
              </a>
              <ul class="dropdown-menu dropdown-menu-end" id="avatar-dropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'lista_desejos' %}"><i class="fa-solid fa-heart"></i>  Lista de Desejos</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#" name="Categorias"><i class="fa-solid fa-bookmark"></i>  Suas categorias</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'historico_compra' %}" name="Historico"><i class="fas fa-history"></i>  Histórico de compras</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/add_produto" name="Historico"><i class="fa fa-plus" aria-hidden="true"></i>  Anunciar produto</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#" name="Configuracao"><i class="fa-solid fa-gear"></i>  Configurações</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>  Sair</a>
                </li>
              </ul>
            </li>
            {% elif user.is_authenticated and not temloja %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }} 
              </a>
              <ul class="dropdown-menu dropdown-menu-end" id="avatar-dropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'lista_desejos' %}"><i class="fa-solid fa-heart"></i>  Lista de Desejos</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#" name="Categorias"><i class="fa-solid fa-bookmark"></i>  Suas categorias</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'historico_compra' %}" name="Historico"><i class="fas fa-history"></i>  Histórico de compras</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#" name="Configuracao"><i class="fa-solid fa-gear"></i>  Configurações</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>  Sair</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Entrar</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <main style="background-color: f5f5f5">
      {% block main %} {% endblock %}
    </main>

    <footer>
      <div class="footer-content">
        <div class="logo">
          <img src="https://imgur.com/68YglrX.png" alt="Logo da empresa" />
        </div>
        <div class="copyright">
          <p style='margin-top: 15px;'>&copy; P.E.N.T.E.S. Todos os direitos reservados.</p>
        </div>
      </div>
    </footer>
    
  </body>
</html>
