{% extends "layout.html" %}

{% block title %} Lista de desejos {% endblock %}

{% block main %}

<h1>Lista de desejo:</h1>
<div class = "produtos">
  {% for item in produtos %}
      <div class="card" style="width: 18rem;">
        <img width="300" height="300" src="{{ item.foto1 }}" class="card-img-top" alt="{{ item.nome_item }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.nome_produto }}</h5>
          <p class="card-text">{{ item.descricao }}</p>
          <p class="card-text">Preço: ${{ item.preco }}</p>
          <a href="{% url 'pagina_produto' item.id %}" class="btn btn-primary"
          >Detalhes</a
          >
          <button id="removerlistadesejo" class="btn btn-lg mx-1 btn-outline-danger" style="font-size: 140%" onclick="rem_lista_desejo('{{ item.id }}')">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
  {% empty %}
      <h4>Nenhum item disponível.</h4>
  {% endfor %}
<script>
  async function rem_lista_desejo(produtoId){
    const produto = document.getElementById("removerlistadesejo")
    const request = await fetch("/rem_lista_desejos", {
      method:"POST",
      body:JSON.stringify({produtoId}),
      headers:{
        "X-CSRFToken":"{{ csrf_token }}"
      }
    })
    const response = await request.json()
    location.reload();
  }
</script>
{% endblock %}