{% extends "layout.html" %}

{% block title %}
  {{ nome_loja }}
{% endblock %}

{% block main %}
  <header>
          <img src="{{ banner }}" alt="{{ nome_loja }}" width="1250" height="256">
          <br/>  
          <br/>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center mb-4">
      <div class="flex-shrink-0">
        <img src="{{ perfil }}"
             alt="{{ nome_loja }}" class="rounded-circle border border-dark border-3" width="100" height="100">
      </div>
    <div class="flex-grow-1 ms-3">
    <div class="d-flex flex-row aling-items-center mb-2">
      <p class="mb-0 me-2">{{ nome_loja }}</p>
    </div>
    </div>
    </div>
    <fieldset disabled>
      <div class="col md-6 d-flex flex-wrap">
        <p class="text-start">Descrição</p>
        <textarea type="text" class="form-control" id="descricao" > placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</textarea>
      </div>
    </fieldset>
    <hr>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flexbox align-items-stretch">
        <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
          {% for item in produto %}
        <div class="card text-center bg-light">
          <img src="{{item.foto1}}" alt="{{item.nome_produto}}">
          <div class="card-header">
            {{item.preco}}
          </div>
          <div class="card-body">
          <h5 class="card-title">{{produto.nome_produto}}</h5>
            <p class="card-text">
              {{item.decricao}}
            </p>
          </div>
          <div class="card-footer">
          <form class="d-block">
            <button class="btn btn-danger">
              Detalhes
            </button>
          </form>
            <small class="text-sucess">{{item.qntd}}</small>
          </div>
        </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
    <h1>Produtos desta Loja:</h1>
    <div class = "produtos">
      {% for produto in produtos %}
          <div class="card" style="width: 18rem;">
            <img width="300" height="300" src="{{ produto.foto1 }}" class="card-img-top" alt="{{ produto.nome_produto }}">
            <div class="card-body">
              <h5 class="card-title">{{ produto.nome_produto }}</h5>
              <p class="card-text">{{ produto.descricao }}</p>
              <p class="card-text">Preço: ${{ produto.preco }}</p>
              <a href="{% url 'pagina_produto' produto.id %}" class="btn btn-primary">Detalhes</a>
            </div>
          </div>
      {% empty %}
          <h4>Nenhum produto disponível.</h4>
      {% endfor %}
  </div>
  
  
  </main>
{% endblock %}