{% extends "layout.html" %}

{% block title %}
  {{ nome_loja }}
{% endblock %}

{% block main %}
  <header>
    <div style="position: relative;">
      <img src="{{ banner }}" alt="{{ nome_loja }}" width="100%" height="350px" style="margin-top: -30px;">
      <img src="{{ perfil }}" class="rounded-circle border border-dark border-3" style="position: absolute; top: 250px; left: 10px; width: 100px; height: 100px;">
      <br/>  
    </div>
    <div class="d-flex flex-row aling-items-center mb-" style="margin-top: 30px; margin-left: 20px; font-size: 30px;">
      <p class="mb-0 me-2" style="font-weight: bold;" name="tituloLoja">{{ nome_loja }}</p> 
    <div style=" width: 83%; text-align: right;">
      {% if minhaloja %}
      <a href="editar/{{ nome_loja }}">
      <button class="btn btn-secondary" id="Editar">Editar Dados</button>
      {% else %}
      <a href="denuncia">
      <button class="btn btn-warning" style="justify-content-end" id="Denuncia">Denunciar</button>
      {% endif %}
    </a>
    </div>
    </div>
      <div class="col md-6 d-flex flex-wrap" style="margin-top: 10px;">
        <p class="form-control text-break text-start" id="descricao">{{descricao}}</p>
      </div>
    <hr>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flexbox align-items-stretch">
        <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
          {% for item in produto %}
        <div class="card text-center bg-light">
          <img src="{{item.foto1}}" alt="{{item.nome_produto}}">
          <div class="card-header">
            {{item.preco}}
          </div>
          <div class="card-body">
          <h5 class="card-title">{{produto.nome_produto}}</h5>
            <p class="card-text">
              {{item.decricao}}
            </p>
          </div>
          <div class="card-footer">
          <form class="d-block">
            <button class="btn btn-danger">
              Detalhes
            </button>
          </form>
            <small class="text-sucess">{{item.qntd}}</small>
          </div>
        </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
    <h1>Produtos desta Loja:</h1>
    <div class = "produtos">
      {% for produto in produtos %}
          <div class="card" style="width: 18rem;">
            <img width="300" height="300" src="{{ produto.foto1 }}" class="card-img-top" alt="{{ produto.nome_produto }}">
            <div class="card-body">
              <h5 class="card-title">{{ produto.nome_produto }}</h5>
              <p class="card-text">{{ produto.descricao }}</p>
              <p class="card-text">Preço: ${{ produto.preco }}</p>
              <a href="{% url 'pagina_produto' produto.id %}" class="btn btn-primary">Detalhes</a>
            </div>
          </div>
      {% empty %}
          <h4>Nenhum produto disponível.</h4>
      {% endfor %}
  </div>
  
  
  </main>
{% endblock %}