{% extends "layout.html" %}

{% block title %}
  {{ nome_loja }}
{% endblock %}

{% block main %}

<style>
  a {
    color: black;
    text-decoration: none;
    transition: color 0.2s;
  }

  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
  }

  .card .card-body {
    max-height: 200px;
    overflow: hidden;
  }
</style>
<div class="container-fluid py-5 text-center">
  <header>
    <div style="position: relative;">
      <img src="{{ perfil }}" class="rounded-circle border border-dark border-3" style="width: 100px">
      <br/>
      <p class="mb-0 me-2" style="font-weight: bold;" name="tituloLoja">{{ nome_loja }}</p> 
    </div>
    <div style=" width: 83%; text-align: right;">
      {% if minhaloja %}
      <a href="editar/{{ nome_loja }}">
      <button class="btn btn-secondary" id="Editar">Editar Dados</button>
      {% else %}
      <a href="denuncia">
      <button class="btn btn-warning" style="justify-content: flex-end" id="Denuncia">Denunciar</button>
      {% endif %}
    </a>
    </div>
    </div>
      <div class="col md-6 d-flex flex-wrap" style="margin-top: 10px;">
        <p class="form-control text-break text-start" id="descricao">{{descricao}}</p>
      </div>
    <hr>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flexbox align-items-stretch">
        <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
          {% for item in produto %}
        <div class="card text-center bg-light">
          <img src="{{item.foto1}}" alt="{{item.nome_produto}}">
          <div class="card-header">
            {{item.preco}}
          </div>
          <div class="card-body">
          <h5 class="card-title">{{produto.nome_produto}}</h5>
            <p class="card-text">
              {{item.decricao}}
            </p>
          </div>
          <div class="card-footer">
          <form class="d-block">
            <button class="btn btn-danger">
              Detalhes
            </button>
          </form>
            <small class="text-sucess">{{item.qntd}}</small>
          </div>
        </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
    <h1>Produtos desta Loja:</h1>
  <div class="produtos">
  {% for produto in produtos %}
  <a href="{% url 'pagina_produto' produto.id %}" class="card-link">
    <div class="card" style="width: 18rem">
      <img
        width="300"
        height="300"
        src="{{ produto.foto1 }}"
        class="card-img-top"
        alt="{{ produto.nome_produto }}"
        name = "{{ produto.nome_produto }}"
      />
      <div class="card-body d-flex justify-content-between flex-column" name="{{produto.nome_produto}}">
        <h5 class="card-title text-start">{{ produto.nome_produto }}</h5>
        <p class="card-text text-start" style="height: 100px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">{{ produto.descricao }}</p>
        <p class="card-text text-start" style="font-weight: bold; font-size:28px;">R${{ produto.preco }}</p>
      </div>
    </div>
    </a>
      {% empty %}
          <h4>Nenhum produto disponível.</h4>
      {% endfor %}
  </div>
  
  
  </main>
</div>
{% endblock %}