{% extends "layout.html" %}

{% block title %}
    {{ nome_produto }}
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center flex-wrap" style="height: 70vh;">
    <div>
        <img src="{{ foto1 }}" alt="{{ nome_produto }}" width="70%">
    </div>
    <div class="d-flex justify-content-around flex-column px-5 mx-5 border">
        <div>
            <p style="font-size: 410%;">{{ nome_produto }}</p>
            <hr>
        </div>
        <p style="font-size: 300%;">R$ {{ preco }}</p>
        <p style="font-size: 170%;"><strong>Quantidade Disponível:</strong> {{ qntd }}</p>
        <p style="font-size: 170%;"><strong>Categoria:</strong> {{ categoria }}</p>
        <p style="font-size: 170%;"><strong>Descrição:</strong> {{ descricao }}</p>
        <div>
            <button class="btn btn-lg btn-outline-success mx-1" style="font-size: 160%;"><i class="fa-solid fa-cart-shopping"></i></button>
            <button class="btn btn-lg btn-outline-danger mx-1" style="font-size: 160%;"><i class="fa-solid fa-heart"></i></button>
            <button class="btn btn-lg btn-outline-success mx-1" style="font-size: 160%;">Comprar</button>

        </div>
    </div>
</div>
{% endblock %}