{% extends "layout.html" %}

{% block title %}
    Página inicial
{% endblock %}

{% block main %}
    <h1> Pesquisa por: {% if nome_pesquisado %} {{ nome_pesquisado }} {% else %} {{ categoria }} {% endif %}</h1>
    {% for produto in lista_produtos %}
    <div class="card text-center bg-light">
        <img src="{{produto.foto1.url}}" alt="{{produto.nome_produto}}" width="100">
        <div class="card-header">
          {{produto.preco}}
        </div>
        <div class="card-body">
        <h5 class="card-title">{{produto.nome_produto}}</h5>
          <p class="card-text">
            {{produto.descricao}}
          </p>
        </div>
        <div class="card-footer">
        <form class="d-block">
          <button class="btn btn-danger">
           <a href="{% url 'pagina_produto' produto.id %}" class="btn btn-danger">
              Detalhes
          </a>
          
          </button>
        </form>
          <small class="text-sucess">{{produto.qntd}}</small>
        </div>
      </div>
    {% endfor %}
{% endblock %}