{% extends "layout.html" %}

{% block title %}
    Pagina inicial
{% endblock %}

{% block main %}
    <h1> pesquisa por: {{ nome_pesquisado }}</h1>
    {% for produto in lista_produtos %}
    <div class="card text-center bg-light">
        <img src="{{produto.foto1}}" alt="{{produto.nome_produto}}">
        <div class="card-header">
          {{produto.preco}}
        </div>
        <div class="card-body">
        <h5 class="card-title">{{produto.nome_produto}}</h5>
          <p class="card-text">
            {{produto.decricao}}
          </p>
        </div>
        <div class="card-footer">
        <form class="d-block">
          <button class="btn btn-danger">
            Detalhes
          </button>
        </form>
          <small class="text-sucess">{{produto.qntd}}</small>
        </div>
      </div>
    {% endfor %}
{% endblock %}