{% extends "layout.html" %} {% block title %} Página inicial {% endblock %} 
{% block main %}
<style>
  a {
    color: black;
    text-decoration: none;
    transition: color 0.2s;
  }

  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
  }

  .card .card-body {
    max-height: 200px;
    overflow: hidden;
  }
</style>
<div class="container-fluid py-5 text-center">
<div class="produtos">
  {% for produto in lista_produtos %}
  <a href="{% url 'pagina_produto' produto.id %}" class="card-link">
    <div class="card" style="width: 18rem">
      <img
        width="300"
        height="300"
        src="{{ produto.foto1 }}"
        class="card-img-top"
        alt="{{ produto.nome_produto }}"
        name = "{{ produto.nome_produto }}"
      />
      <div class="card-body d-flex justify-content-between flex-column" name="{{produto.nome_produto}}">
        <h5 class="card-title text-start">{{ produto.nome_produto }}</h5>
        <p class="card-text text-start" style="height: 100px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">{{ produto.descricao }}</p>
        <p class="card-text text-start" style="font-weight: bold; font-size:28px;">R${{ produto.preco }}</p>
      </div>
  </div>
  {% empty %}
  <h1>Nenhum produto disponível.</h1>
  {% endfor %}
</div>
</div>
{% endblock %}
