{% extends "layout.html" %}

{% block title %} Lista de desejos {% endblock %}

{% block main %}

<style>
  #wish-container table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  #wish-container table thead {
    background-color: #fd8c66;
    color: #fff;
  }

  #wish-container table th,
  #wish-container table td {
    padding: 8px;
    text-align: center;
  }

  #wish-container table th:nth-child(1) {
    width: 200px;
  }

  #wish-container table th:nth-child(2),
  #wish-container table th:nth-child(3) {
    width: 170px;
  }

  #wish-container table th:nth-child(4),
  #wish-container table th:nth-child(5) {
    width: 100px;
  }

  #wish-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
  }

  h1.text-start {
    margin-left: 200px;
  }

  #wish-container {
    margin-top: 20px;
  }

  #removerCarrinho {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }

  #removerCarrinho:hover {
    background-color: #cc0000;
  }
</style>

<div class="container-fluid py-5 text-center">
<h1 class="text-start" style="margin-left: 200px;">Minha compra:</h1>


<section id="wish-container" class="container my-5">
  <table width="100%">
      {%for loja in compras%}
      <thead>
      <tr>
          <td style="font-size: 20px;"></td>
          <td style="font-size: 20px;">{{ loja.loja }}</td>
          <td style="font-size: 20px;"></td>
          <td style="font-size: 20px;"></td>
          <td style="font-size: 20px;"></td>
      </tr>
      </thead>
    <thead>
      <tr>
        <td style="font-size: 20px;">Imagem</td>
        <td style="font-size: 20px;">Produto</td>
        <td style="font-size: 20px;">Preço</td>
        <td style="font-size: 20px;">Detalhes</td>
        <td style="font-size: 20px;">Remover</td>
      </tr>
    </thead>
    <tbody>
      {% for item in loja.produtos %}
      <tr>
        <td><img src="{{ item.foto1 }}" alt="{{ item.nome_produto }}"></td>
        <td><h5 id="{{ item.nome_produto }}" name="{{ item.id }}">{{ item.nome_produto }}</h5></td>
        <td><h5>${{ item.preco }}</h5></td>
        <td><a href="{% url 'pagina_produto' item.id %}" class="btn btn-primary">Detalhes</a></td>
        <td><button id="removerlistadesejo" class="btn btn-lg mx-1 btn-danger" onclick="rem_carrinho('{{ item.id }}')">
          <i class="fa-solid fa-trash-can"></i>
          </button></td>
      </tr>
      {% empty %}
      <h4>Nenhum item disponível.</h4>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</section>
</div>
<script>
  async function rem_carrinho(produtoId){
    const produto = document.getElementById("removerCarrinho")
    const request = await fetch("/rem_carrinho", {
      method:"POST",
      body:JSON.stringify({produtoId}),
      headers:{
        "X-CSRFToken":"{{ csrf_token }}"
      }
    })
    const response = await request.json()
    location.reload();
  }
</script>

{% endblock %}