{% extends "layout.html" %}

{% block title %} Lista de desejos {% endblock %}

{% block main %}

<style>
  #wish-container table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  #wish-container table thead {
    background-color: #fd8c66;
    color: #fff;
  }

  #wish-container table th,
  #wish-container table td {
    padding: 8px;
    text-align: center;
  }

  #wish-container table th:nth-child(1) {
    width: 200px;
  }

  #wish-container table th:nth-child(2),
  #wish-container table th:nth-child(3) {
    width: 170px;
  }

  #wish-container table th:nth-child(4),
  #wish-container table th:nth-child(5) {
    width: 100px;
  }

  #wish-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
  }

  h1.text-start {
    margin-left: 200px;
  }

  #wish-container {
    margin-top: 20px;
  }

  #removerCarrinho {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }

  #removerCarrinho:hover {
    background-color: #cc0000;
  }

  .btn-link {
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Torna o link um bloco inline como um botão */
    padding: 10px 20px; /* Adapte o padding ao seu gosto */
    background-color: #28a745; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    font-size: 140%; /* Tamanho da fonte do texto */
    float: right;
    border: none; /* Remove a borda padrão do link */
    border-radius: 5px; /* Adicione cantos arredondados ao botão */
    cursor: pointer; /* Transforma o cursor em uma mão ao passar o mouse */
  }
  
  .btn-link:hover {
    background-color: #218838; /* Cor de fundo do botão ao passar o mouse */
  }

</style>

<div class="container-fluid py-5 text-center">
<h1 class="text-start" style="margin-left: 200px;">Revisar Itens:</h1>


<section id="wish-container" class="container my-5">
  <table width="100%">
      {%for loja in compras%}
      <thead>
      <tr>
          <td style="font-size: 20px;">{{ loja.loja }}</td>
      </tr>
      </thead>
    <thead>
      <tr>
        <td style="font-size: 20px;">Imagem</td>
        <td style="font-size: 20px;">Produto</td>
        <td style="font-size: 20px;">Preço</td>
        <td style="font-size: 20px;">Detalhes</td>
        <td style="font-size: 20px;">Remover</td>
      </tr>
    </thead>
    <tbody>
      {% for item in loja.produtos %}
      <tr>
        <td><img src="{{ item.foto1 }}" alt="{{ item.nome_produto }}"></td>
        <td><h5 id="{{ item.nome_produto }}" name="{{ item.id }}">{{ item.nome_produto }}</h5></td>
        <td><h5>${{ item.preco }}</h5></td>
        <td><a href="{% url 'pagina_produto' item.id %}" class="btn btn-primary">Detalhes</a></td>
        <td><button id="removerlistadesejo" class="btn btn-lg mx-1 btn-danger" onclick="rem_carrinho('{{ item.id }}')">
          <i class="fa-solid fa-trash-can"></i>
          </button></td>
      </tr>
      {% empty %}
      <h4>Nenhum item disponível.</h4>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</section>
</div>
<script>
  async function rem_carrinho(produtoId){
    const produto = document.getElementById("removerCarrinho")
    const request = await fetch("/rem_carrinho", {
      method:"POST",
      body:JSON.stringify({produtoId}),
      headers:{
        "X-CSRFToken":"{{ csrf_token }}"
      }
    })
    const response = await request.json()
    location.reload();
  }
</script>

<div class="container-fluid py-5 text-center">
  <div class="container">
    <form
      method="POST"
      enctype="multipart/form-data"
    >
    <div class="row row-cols-2">
    <fieldset disabled>
      <div class="col-md-6">
        <label for="nome_vendedor" class="form-label">Nome completo</label>
        <input
          type="text"
          class="form-control"
          id="nome_vendedor"
          placeholder="{{ nome_vendedor }}"
        />
      </div>
    </fieldset>
    <div class="col-md-6">
      <label class="form-label">Selecione seu estado</label>
      <br />
      <div style="padding-left: -5%">
        <select
          class="form-select form-select-lg mb-3 pb-0"
          name="estado"
          style="padding-right: 80%"
        >
          {% if cidade %}
          <option value="">Escolha seu estado novamente</option>
          {% endif %}
          <option value="ac">AC</option>
          <option value="al">AL</option>
          <option value="ap">AP</option>
          <option value="am">AM</option>
          <option value="ba">BA</option>
          <option value="ce">CE</option>
          <option value="es">ES</option>
          <option value="go">GO</option>
          <option value="ma">MA</option>
          <option value="mt">MT</option>
          <option value="ms">MS</option>
          <option value="mg">MG</option>
          <option value="pb">PB</option>
          <option value="pr">PR</option>
          <option value="pe">PE</option>
          <option value="pi">PI</option>
          <option value="rj">RJ</option>
          <option value="rn">RN</option>
          <option value="rs">RS</option>
          <option value="ro">RO</option>
          <option value="rr">RR</option>
          <option value="sc">SC</option>
          <option value="sp">SP</option>
          <option value="se">SE</option>
          <option value="to">TO</option>
          <option value="df">DF</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <label for="cidade" class="form-label">Digite sua cidade</label>
      <input
        type="text"
        class="form-control"
        id="cidade"
        name="cidade"
        value="{{ cidade }}"
      />
    </div>
    <div class="col-md-6">
      <label for="nome_loja" class="form-label"
        >Digite seu Endereço</label
      >
      <input
        type="text"
        class="form-control"
        id="endereco"
        name="endereco"
        value="{{endereco}}"
      />
    </div>
    <div class="col-md-6">
      <label for="perfil" class="form-label">Informe o Complemento</label>
      <input
        type="text"
        class="form-control"
        id="complemento"
        aria-describedby="complemento"
        name="complemento"
        value="{{ complemento }}"
      />
    </div>

    <div class="col-md-6">
      <label for="cpf" class="form-label">Informe o seu CPF</label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        aria-describedby="cpf_"
        name="cpf"
        value="{{ cpf }}"
      />
      <div id="cpf_" class="form_text">Ex: 999.999.999-99</div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Selecione a Transportadora</label>
      <br />
      <div>
        <select
          class="form-select form-select-lg mb-3 pb-0"
          name="transportadora"
          id="transportadora"
          style="padding-right: 80%"
        >
          <option value="PAC">PAC 15,00 R$ 7-15 dias</option>
          <option value="Sedex">Sedex 18,00 R$ 5-12 dias</option>
          <option value="Fedex">Fedex 23,00 R$ 4-10 dias</option>
          <option value="BPM">BPM 25,00 R$ 4-10 dias</option>
          <option value="Bertolini">Bertolini 25,00 R$ 4-10 dias</option>
          <option value="GFL">GFL 30,00 R$ 1-5 dias</option>
        </select>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end w-100">

    <a href="historico_de_compra" class="btn-link">
      Finalizar Compra
    </a>

  </div>
  </form>
  </div>

{% endblock %}