{% extends "layout.html" %}

{% block title %} Lista de desejos {% endblock %}

{% block main %}

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<style>
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .corpo {
    margin-top: 2vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {

    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    
  }

  .form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
  }

  .form-image img {
    width: 31rem;
  }

  .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 4rem;
  }

  .form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
  }

  .form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ff7420;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
  }

  .input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
  }

  .input-box input:hover {
    background-color: #eeeeee75;
  }

.input-box input:focus-visible {
    outline: 1px solid #ff7420;
  }

  .input-box label,
  .Transportadora-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
  }

  .input-box input::placeholder {
    color: #000000be;
  }

  .Transportadora-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
  }

  .Transportadora-input {
    display: flex;
    align-items: center;
  }

  .Transportadora-input input {
    margin-right: 0.35rem;
  }

  .Transportadora-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
  }

  .continue-button button {
    width: 100%;
    height: 45px;
    background-color: #ff7420;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 010px rgba(0, 0, 0, .1);
    cursor: #333;
    font-weight: 600;
    margin-top: 15px;
  }

  .continue-button button:hover {
    background-color: #cf5c17;
  }

  .continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
  }

  @media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
  }

  @media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .Transportadora-inputs {
        margin-top: 2rem;
    }
    .Transportadora-group {
        flex-direction: column;
    }
    .Transportadora-title h6 {
        margin: 0;
    }
    .Transportadora-input {
        margin-top: 0.5rem;
    }
  }

  .erros {
    font-size: medium;
    color: red;
  }

</style>

<div class="corpo">
  <div class="container">
      <div class="form-image">
          <img src="https://i.imgur.com/OkWQ7jF.png" alt="Kolekto">
      </div>
      <div class="form">
          <form
              action="{% url 'realizar_compra' %}"
              method="POST"
              enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-header">
                  <div class="title">
                      <h1>Como você quer receber a sua compra?</h1>
                  </div>
              </div>

              <div class="input-group">
                  <div class="input-box">
                      <label for="nome">Nome para entrega <i class='bx bx-edit-alt'></i></label>
                      <input id="nome" type="text" name="nome" placeholder="Digite seu nome" value="{{ nome }}" required>
                  </div>

                  <div class="input-box">
                      <label for="Cidade">Cidade <i class='bx bx-map-alt' ></i></label>
                      <input id="cidade" type="text" name="cidade" placeholder="Cidade-Estado" value="{{ cidade }}" required>
                  </div>
                  <div class="input-box">
                      <label for="Rua/Avenida">Rua/Avenida <i class='bx bx-map-pin' ></i></label>
                      <input id="Rua/Avenida" type="text" name="endereço" placeholder="Informe seu endereço" value="{{ endereco }}" required>
                  </div>

                  <div class="input-box">
                      <label for="Complemento">Numero/Complemento <i class='bx bx-street-view' ></i></label>
                      <input id="Complemento" type="Complemento" name="Complemento" placeholder="Complemento" value="{{ complemento }}" required>
                  </div>

                  <div class="input-box">
                      <label for="CPF">CPF <i class='bx bxs-file-doc' ></i></label>
                      <input id="CPF" type="text" name="CPF" placeholder="Ex: xxx.xxx.xxx-xx" value="{{ cpf }}" required>
                  </div>


                  <div class="input-box">
                      <label for="confirmPassword">Confirme sua Senha <i class='bx bxs-lock-alt' ></i></label>
                      <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Digite sua senha novamente" required>
                  </div>

              </div>

              <div class="Transportadora-inputs">
                  <div class="Transportadora-title">
                      <h6>Transportadora <i class='bx bxs-package' ></i></h6>
                  </div>

                  <div class="Transportadora-group">
                      <div class="Transportadora-input">
                          <input id="PAC" type="radio" name="Transportadora" value="PAC">
                          <label for="PAC">PAC</label>
                      </div>

                      <div class="Transportadora-input">
                          <input id="Sedex" type="radio" name="Transportadora" value="Sedex">
                          <label for="Sedex">Sedex</label>
                      </div>

                      <div class="Transportadora-input">
                          <input id="Fedex" type="radio" name="Transportadora" value="Fedex">
                          <label for="Fedex">Fedex</label>
                      </div>

                      <div class="Transportadora-input">
                          <input id="Bertolini" type="radio" name="Transportadora" value="Bertolini">
                          <label for="Bertolini">Prefiro não dizer</label>
                      </div>
                  </div>
              </div>

              <p class="erros">{{ erros.cpferrado }}{{ erros.senhaerrada }}{{ erros.invalido }}</p>

              <div class="continue-button">
                <button type="submit"><a>Continuar</a></button>
              </div>
          </form>
      </div>
  </div>
</div>

{% endblock %}