{% extends "layout.html" %}
{% block title %} Registro {% endblock %} 
{% block main %}
<div class="container-fluid py-5 text-center">
<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100%;">
    <div class="col-md-6">
      <h1>Registro:</h1>
      {% if erro %}
      <div class="alert alert-primary" role="alert">
        {{ erro }}
      </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Nome de Usuário:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            value="{{username}}"
            required
          />
        </div>

        <div class="mb-3">
          <label for="nome" class="form-label">Nome Completo:</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            value="{{nome}}"
            required
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="{{email}}"
            required
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Senha:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="senha"
            value="{{senha}}"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary" name="registro">Registrar</button>
      </form>

      <p>
        <br />
        Já possui uma conta? <a href="{% url 'login' %}">Faça login aqui</a>
      </p>
    </div>
  </div>
</div>
</div>
{% endblock %}