{% extends "layout.html" %}

{% block title %}
    Registro
{% endblock %}

{% block main %}
    <h1>Registro:</h1>
        {%if erro %}
        <div class="alert alert-primary" role="alert">
        {{ erro }}
        {% endif %}
</div>
    <form method="post">
        {% csrf_token %}
    </div>
    <div class="col-md-6">
        <label for="username" class="form-label">Nome de Usuário:</label>
        <input type="text" class="form-control" id="username" name="username" value="{{username}}" required>
    </div>

    </div>
    <div class="col-md-6">
        <label for="name" class="form-label">Nome Completo:</label>
        <input type="text" class="form-control" id="nome" name="nome" value="{{nome}}" required>
    </div>

    <div class="col-md-6">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" value="{{email}}" required>
    </div>

    <div class="col-md-6">
        <label for="password" class="form-label">Email:</label>
        <input type="password" class="form-control" id="password" name="senha" value="{{senha}}" required>
    </div>

        <br><button type="submit" class="btn btn-primary">Registrar</button>
    </form>

    <p><br> Já possui uma conta? <a href="{% url 'login' %}">Faça login aqui</a></p>

{% endblock %}
