{% extends "layout.html" %}
{% block main %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<style>
  a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
  }

  .center-wrapper {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 76vh; /* Define a altura para ocupar a altura da janela */
  }
  

  .wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
  }

  .wrapper h1{
    font-size: 36px;
    text-align: center;
  }

  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }

  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #dcdcdc;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
  }

  .input-box input::placeholder{
    color: #000000;
  }

  .input-box i{ 
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }

  .wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }

  .wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: #ff7420;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 010px rgba(0, 0, 0, .1);
    cursor: #333;
    font-weight: 600;
  }

  .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }

  .register-link a{
    color: #000000;
    text-decoration: none;
    font-size: 600;
  }

  .register-link{
    text-decoration: underline;
  }

  .erro {
    font-size: medium;
    color: red;
  }

</style>

<div class="corpo">
<div class="container-fluid py-5 text-center">
  <div class="center-wrapper">
  <div class="wrapper">
    <form action="" method="post">
      {% csrf_token %}
      <h1>Registro<h1>

      <div class="input-box">
        <input 
        type="text" 
        placeholder="Usuário" 
        id="username"
        name="username"
        value="{{username}}"
        required>
        <i class='bx bx-user'></i>
      </div>

      <div class="input-box">
        <input type="text"
        placeholder="Nome Completo"
        id="nome"
        name="nome"
        value="{{nome}}"
        required>
        <i class='bx bx-edit-alt'></i>
      </div>

      <div class="input-box">
        <input type="email"
        placeholder="Email"
        id="email"
        name="email"
        value="{{email}}"
        required>
        <i class='bx bxs-envelope' ></i>
      </div>

      <div class="input-box">
        <input type="password"
        placeholder="Senha"
        id="password"
        name="senha"
        value="{{senha}}"
        required>
        <i class='bx bxs-lock-alt' ></i>
      </div>

      {% if erro %}
      <p class="erro">{{ erro }}</p>
      {% endif %}

      <button 
      type="submit" 
      class="btn"
      name="Logar"
      >Registrar</button>

      <div class="register-link">
        <p>Já possui uma conta? <a href="{% url 'login' %}">Faça login aqui</a></p>
      </div>

    </form>
  </div>
</div>
</div>
{% endblock %}